<%= provide :title, t(".title") %>
<h1><%= t ".heading" %></h1>
<div class="list_product">
  <%= link_to t(".link_add"), new_admin_classify_path,
    class: "btn btn-infor add_item"%>
  <%= render "layouts/search_form" %>
  <table class="table table-striped" id="dev-table">
    <thead>
      <tr>
        <th><%= t ".name" %></th>
        <th><%= t ".edit" %></th>
        <th><%= t ".delete" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @classifies %>
    </tbody>
  </table>
</div>
<%= will_paginate @classifies %>
