<tr>
  <td><%= order.user.name %></td>
  <td><%= order.created_at %></td>
  <td><%= order.shipping_address %></td>
  <td><%= order.shipping_date %></td>
  <td><%= link_to t(".detail"), admin_order_path(order),
    class: "btn btn-info" %></td>
</tr>
