<%= provide :title, t(".title") %>
<h1><%= t ".heading" %></h1>
<div class="list_product">
  <%= render "layouts/search_form" %>
  <table class="table table-hover" id="dev-table">
    <tr>
      <th><%= t ".order_name" %></th>
      <th><%= t ".order_time" %></th>
      <th><%= t ".shipping_address" %></th>
      <th><%= t ".shipping_date" %></th>
      <th><%= t ".detail" %></th>
    </tr>
    <%= render @orders %>
  </table>
  <%= will_paginate @orders %>
</div>
