<div class="well">  
  <div class="row">
    <ul>
      <li class="col-md-2">
        <% if product.image.url %>
          <%= image_tag product.image.url , class: "image" %>
        <% end %>
      </li>
      <li class="col-md-2"><%= product.name %></li>
      <%= form_for order_item, remote: true do |f| %>
        <li class="col-md-2">
          <%= t "carts.cart_row.unit_price",
            price: number_to_currency(product.price) %>
        </li>
        <li class="col-md-1">
          <%= f.number_field :quantity, value: order_item.quantity.to_i,
            class: "form-control", min: 1 %>
          <%= f.hidden_field :product_id, value: product.id %>
        </li>
        <li class="col-md-2"><%= f.submit t("carts.cart_row.btn_submit"),
          class: "btn btn-primary" %></li>
        <li class="col-md-1">
          <%= link_to t("carts.cart_row.link_delete"), order_item,
            {data: {confirm: t("admin.products.product.delete_confirm",
            order_item_name: order_item.product.name)}, method: :delete,
            remote: true, class: "btn btn-danger"} %>            
        </li>
        <li class="col-md-2">
          <h4 class="text-right">          
            <span style="color: green">
              <%= number_to_currency order_item.total_price %>
            </span>
          </h4>
        </li>
      <% end %>
    </ul>
  </div>
</div>
