<%= provide :title, t(".title") %>

<h1><%= t ".title" %></h1>

<table class="table table-hover">
  <tr>
    <th><%= t ".id" %></th>
    <th><%= t ".name" %></th>
    <th><%= t ".price" %></th>
    <th><%= t ".description" %></th>
    <th><%= t ".image" %></th>
    <th><%= t ".status" %></th>
    <th><%= t ".action" %></th>
  </tr>
  <% @product_suggests.each do |product_suggest| %>
    <tr>
      <td><%= product_suggest.id %></td>
      <td><%= product_suggest.name %></td>
      <td><%= product_suggest.price %></td>
      <td><%= product_suggest.description %></td>
      <td> <%= image_tag product_suggest.image, class: "image" %></td>
      <td><%= link_to product_suggest.status,
            edit_admin_product_suggest_path(product_suggest) %></td>
      <td>
      <span>
        <%= link_to t(".delete_button"),
          admin_product_suggest_path(product_suggest), method: :delete,
          data: {confirm: t(".delete_confirm")},
          class:"btn btn-danger" %>
      </span>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate @product_suggests %>
