<tr id="category-<%= category.id %>">
  <td><%= category.name %></td>
  <td><%= category.classify_id %></td>
  <td>
    <%= link_to t(".link_edit"),
      edit_admin_category_path(category) %>	
  </td>
  <td>
    <%= link_to t(".link_delete"),
      [:admin, category], method: :delete, 
        data: {confirm: t(".delete_confirm",
          params: category.name)} %>
  </td>
</tr>
