<%= provide :title, t(".title") %>
<h1><%= t ".heading" %></h1>
<div class="list_category">
  <%= render "layouts/search_form" %>
  <table class="table table-striped" id="dev-table">
    <thead>
      <tr>
        <th><%= t ".name" %></th>
        <th><%= t ".classify" %></th>
        <th><%= t ".add" %></th>
        <th><%= t ".edit" %></th>
        <th><%= t ".delete" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @categories %>
    </tbody>
  </table>
</div>
<%= will_paginate @categories %>
