<%= provide :title, t("views.admin.categories.index.title") %>
<h1><%= t "views.admin.categories.index.heading" %></h1>
<div class="list_category">
  <%= render "layouts/search_form" %>
  <table class="table table-striped" id="dev-table">
    <thead>
      <tr>
        <th><%= t "views.admin.categories.index.name" %></th>
        <th><%= t "views.admin.categories.index.classify" %></th>
        <th><%= t "views.admin.categories.index.add" %></th>
        <th><%= t "views.admin.categories.index.edit" %></th>
        <th><%= t "views.admin.categories.index.delete" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @categories %>
    </tbody>
  </table>
</div>
<%= will_paginate @categories %>
