<tr id="product-<%= product.id %>">
  <td><%= product.name %></td>
  <td><%= product.price %></td>
  <td><%= product.description %></td>
  <td><%= product.avg_rate %></td>
  <td><%= image_tag product.image.url, class: "image" %></td>
  <td>
    <%= link_to t("views.admin.products.product.link_add"), new_admin_product_path %>
  </td>
  <td>
    <%= link_to t("views.admin.products.product.link_edit"),
      edit_admin_product_path(product) %>	
  </td>
  <td>
    <%= link_to t("views.admin.products.product.link_delete"),
      [:admin, product], method: :delete, 
        data: {confirm: t("views.admin.products.product.delete_confirm",
          params: product.name)} %>
  </td>
</tr>
