<%= provide :title, t(".title") %>
<h1><%= t ".heading" %></h1>
<div class="list_product">
  <%= link_to t(".link_add"), new_admin_product_path,
    class: "btn btn-infor add_item"%>
  <%= render "layouts/search_form" %>
  <table class="table table-striped" id="dev-table">
    <thead>
      <tr>
        <th><%= t ".name" %></th>
        <th><%= t ".price" %></th>
        <th><%= t ".description" %></th>
        <th><%= t ".avg_rate" %></th>
        <th><%= t ".image" %></th>
        <th><%= t ".edit" %></th>
        <th><%= t ".delete" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @products %>
    </tbody>
  </table>
</div>
<%= will_paginate @products %>
