<% provide :title, t(".title") %>
<h1><%= t ".all_users" %></h1>
<%= render "layouts/search_form" %>
<table class="table table-hover" id="dev-table">
  <tr>
    <th><%= t ".stt" %></th>
    <th><%= t ".name" %></th>
    <th><%= t ".email" %></th>
    <th><%= t ".delete" %></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td> <%= user.id %> </td>
      <td> <%= link_to user.name, user %> </td>
      <td> <%= user.email %> </td>
      <td>
        <span>
          <%= link_to t(".delete"),
            admin_user_url(user), method: :delete,
            data: {confirm: t(".delete_confirm")},
            class: "btn btn-danger" %>
        </span>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @users %>
