<div class="col-md-4 column productbox">
  <%= link_to product_path(product) do %>
    <%= image_tag product.image.url, class: "home_image_prd" %>
    <div class="name"><%= product.name %></div>
  <%end%>
  <div class="productprice">
    <div class="pull-right">
      <%= link_to t(".button_text"), "#", class: "btn btn-danger btn-sm",
        role: "button" %>
    </div>
    <div class="pricetext"><%= number_to_currency product.price %></div>
  </div>
</div>
