<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".logo"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("layouts.header.users"), admin_users_path %></li>
        <li><%= link_to t("layouts.header.categories"),
          admin_categories_path %></li>
        <li><%= link_to t("layouts.header.classifies"),
          admin_classifies_path %></li>
        <li><%= link_to t("layouts.header.products"),
          admin_products_path %></li>
        <li><%= link_to t("layouts.header.product_suggests"),
          admin_product_suggests_path %></li>
        <li><%= link_to t("layouts.header.orders"),
          admin_orders_path %></li>
        <li><%= link_to t("layouts.header.logout"),
          logout_path, method: :delete %></li>
      </ul>
    </nav>
  </div>
</header>
